In [1]:
2 + 2

4

In [2]:
print("hello world")

hello world

In [3]:
book_title = "Harry Potter"

In [4]:
book_title

'Harry Potter'

In [5]:
print(book_title)

Harry Potter

In [6]:
year = 1997
print(year)

1997

In [7]:
price = 19.95

In [8]:
type(price)

float

In [9]:
year = 1997
price = 19.95
title = "Harry Potter"
not_a_number = "145"

In [10]:
year + price

2016.95

In [11]:
3>4

False

In [12]:
9<6

False

In [13]:
6>3

True

In [14]:
numbers = [1, 2, 3]

In [15]:
for number in numbers:
    print(number)

1
2
3

In [17]:
for number in numbers:
    double =number*2
    print(double)
print("zahlen wurden multipliziert")

2
4
6
zahlen wurden multipliziert

In [18]:
len (numbers)

3

In [19]:
authors = ["Darwin", "Hawking", "Feynman", "Jemison"]

In [20]:
len(authors)

4

In [23]:
authors[-1]

'Jemison'

In [24]:
title[0:5]

'Harry'

In [25]:
title[2:]

'rry Potter'

In [26]:
authors_and_books = {"Jemison" : "Wind", "Darwin" : "Species", "Hawking" : "Universe"}

In [27]:
authors_and_books["Jemison"]

'Wind'

In [29]:
temp = 20
if temp > 15:
    print("it's warm")

it's warm

In [30]:
temp = 20
if temp > 15:
    print("it's warm")
elif temp < 5:
    print("it's cold")

it's warm

# Wetterbericht
der folgende Code erklärt das **Wetter**

In [35]:
temp = 12
if temp >= 15:
    print("it's warm")
elif temp <= 5:
    print("it's cold")
else:
    print("it's mild")

it's mild

In [36]:
author = "Darvin"

In [37]:
author.upper() #methoden .tab zeigt die anderen möglichkeiten der methoden

'DARVIN'

In [38]:
author? #zeigt die hilfe an, funktionen mit allen und methoden sind objektabhängig

In [39]:
author.replace("a", "XXX") #ersetzt a durch XXX in der ausgabe, die variable selbst bleibt unberührt

'DXXXrvin'

In [40]:
author

'Darvin'